$primary-color:rgba(135, 206, 235, 0.5);
$secundary-color: rgb(231, 92, 30);
$terciary-color: #a21864;
$quartity-color: white;
$fifth-color: #43C3E7;
$sixth-color:rgb(181, 60, 85);
$seventh-color:rgb(173, 216, 230);